{% extends "base.html" %}


{% block class %}
class="sub_page"
{% endblock class %}

{% block book %}
<!-- login section -->
  <section class="book_section layout_padding ">
    <div class="container">
      <div class="heading_container">
        <h2>
          Login
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="" method="post">
                {% csrf_token %}
              <div>
                <input name="username" required type="text" class="form-control" placeholder="Username" />
              </div>
              
              <div>
                <input name="password" required type="password" class="form-control" placeholder="Password" />
              </div>
              
              <div class="btn_box">
                <button type="submit">
                  Login
                </button>
              </div>
            </form>
            <div style="margin-top: 10px;">
              <p>
                Create an account <a href="{% url 'signup'%}">Signup now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end login section -->
{% endblock book %}